h1,
h2,
ul,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

body {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-image: url(images/halloween-background.gif);
  background-color: #666;
}

.wrapper {
  background-color: #ddd;
  width: 800px;
  margin: 5px auto;
}

.header {
  background-image: url(images/halloween-header-bg.png);
  color: white;
  height: 400px;
  text-align: center;
}

.header .profile {
  margin-top: 50px;
}

.header h1 {
  color: violet;
  margin: 10px 0;
}

.header p {
  background-color: black;
  color: #888;
  width: 400px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
}

.section {
  background-image: url(images/icon-information.png);
  background-repeat: no-repeat;
  background-color: white;
  background-position: right 30px center;
  margin: 20px;
  padding: 20px;
}

.skills {
  background-image: url(images/icon-skills.png);
}

.section h2 {
  color: orangered;
  margin-bottom: 20px;
}

.section li {
  background-image: url(images/icon-jack2.png);
  background-repeat: no-repeat;
  background-position: left center;
  padding: 10px 43px 8px;
}

.section li:hover {
  color: orangered;
  background-image: url(images/icon-jack.png);
}

.footer {
  background-color: #111;
  color: #999;
  padding: 10px 0;
  text-align: center;
  color: violet;
  letter-spacing: 5px;
  text-indent: 5px;
}
